In [14]:
import pandas as pd

In [15]:
df = pd.read_pickle('../data/raw/swedish_stocks')
df.head(2)

             PCAT.ST                              NLAB.ST                      \
           Adj Close Close High Low Open Volume      Open      High       Low
Date
2010-01-04       NaN   NaN  NaN NaN  NaN    NaN  4.147533  4.147533  3.926338
2010-01-05       NaN   NaN  NaN NaN  NaN    NaN  4.147533  4.147533  4.147533

                      ...   ATRE.ST                                         \
               Close  ...      Open      High       Low     Close   Volume
Date                  ...
2010-01-04  4.064585  ...  6.776391  6.885688  6.585122  6.585122  18033.0
2010-01-05  4.147533  ...  6.612447  6.776391  6.612447  6.721743  11620.0

            ERIC-B.ST
                 Open       High        Low      Close      Volume
Date
2010-01-04  49.419051  50.168961  49.419051  50.168961  10188651.0
2010-01-05  50.393934  51.518799  50.318944  51.518799  11565270.0

[2 rows x 3094 columns]

In [16]:
tickers = df.columns.get_level_values(0).unique()
for ticker in tickers:
    curr_equ = df[ticker].dropna(how='all')
    if curr_equ.shape[0] == 0: # Dont save empty stocks
        continue
    if 'Adj Close' in curr_equ:
        curr_equ.drop(columns=["Adj Close"], inplace=True)
    assert curr_equ.isna().sum().sum() == 0 # Make sure any certain values are not NaN
    assert str(ticker)[len(ticker)-3:] == '.ST' # Make sure that we dont remove anything relevant
    curr_equ.index = pd.to_datetime(curr_equ.index)
    curr_equ = curr_equ.round(2) 
    curr_equ.to_csv(path_or_buf='../data/clean/swe_equ/' + str(ticker)[:len(ticker)-3] + '.csv')